h1 {
  color: #050505;
  background-color: #cbd0d3;
}
body {
  font-family: Time New Roman;
    background-color: #093987;
}
p {
  font-family: Time new Roman;
    color: #050505;
}
h2 {
  color: #050505;
  background-color: #cbd0d3;
}
body {
  color: #050505;
  }
